.content {
    color: white;
    width: 40%;
    text-align: left;
    padding: 100px 50px 50px 50px;
}

.content h1 {
    font-size: 80px;
    line-height: 0.9;
    margin: 0;
    padding: 0;
}

.content p {
    width: 50%;
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
}